@font-face {
    font-family: 'DroidArabicNaskhBold';
        src: url('/assets/fonts/droid-arabic-naskh/fd4b27f3b16500224174d4930a24ddfc/0968720cd2bfeb792da963c918c4b9a6/DroidArabicNaskhBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'DroidArabicNaskhRegular';
        src: url('/assets/fonts/droid-arabic-naskh/fd4b27f3b16500224174d4930a24ddfc/791f577ddc8e608ef0d842d070bcac23/DroidArabicNaskhRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Droid Arabic Naskh';
        src: url('/assets/fonts/droid-arabic-naskh/fd4b27f3b16500224174d4930a24ddfc/0968720cd2bfeb792da963c918c4b9a6/DroidArabicNaskhBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Droid Arabic Naskh';
        src: url('/assets/fonts/droid-arabic-naskh/fd4b27f3b16500224174d4930a24ddfc/791f577ddc8e608ef0d842d070bcac23/DroidArabicNaskhRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
